@media (max-width: 1400px)
  .header
    .logo
      margin-right: 50px

    .nav
      li
        margin-right: 30px !important



@media (max-width: 1200px)
  .header
    .logo
      margin-right: 10px

    .nav
      li
        margin-right: 10px !important

  .heading_style
    h2
      font-size: 20px
